.main-container{
    margin-top: 20px;
}

#tarjeta {
    width: 250px;
    height: 500px;
}

body{
    content: "";
    position: relative;
    inset: 0;
    z-index: auto;
    background: url(https://images.alphacoders.com/510/thumb-1920-510026.jpg);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}