<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1 class="fw-bolder text-light fs-1">Clima</h1>
<p class="fs-4 text-light bg-primary bg-opacity-75 text-center">Para que siempre estés listo para cualquier condición climática, te traemos esta nuevo función en SoccerScoresMX, con la cual puedes saber el clima de tu ciudad.</p>
<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <img width="180" alt="Logo" src="https://i.ibb.co/sw6ch7m/logo-removebg-preview.png" class="mx-auto">
                <form (submit)="submitLocation(cityName, countryCode)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de la ciudad" #cityName>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Código de la ciudad" #countryCode>
                    </div>
                    <button class="btn btn-primary btn-block mt-2">
                        Consultar clima
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngIf="weather" class="card card-body">
                <p>Temperatura: {{weather.main.temp}} °C</p>
                <p>Latitude: {{weather.coord.lat}}</p>
                <p>Longitude: {{weather.coord.lon}}</p>
                <p>Humedad: {{weather.main.humidity}}</p>
                <p>Presión: {{weather.main.pressure}}</p>
                <p>Descripción: {{weather.weather[0].description}}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>